<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places/tabs/discover" icon="chevron-back"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button menu="primaryMenu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-row>
    <ion-col class="text-center">
      <ion-text class="title">
        You are logged in !
      </ion-text>
    </ion-col>
  </ion-row>


  <ion-item *ngIf="user">
    <ion-thumbnail slot="start">
      <img [src]="user.picture.data.url" />
    </ion-thumbnail>
    <ion-label>
      <h3>{{user.name}}</h3>
    </ion-label>
  </ion-item>


  <ion-button class="login-button" (click)="signOut()" expand="full" fill="solid" color="danger">
    Logout from Facebook
  </ion-button> -->
  <ion-segment (ionChange)="onFilterUpdate($event)" value="all">
    <ion-segment-button value="all" >All Places</ion-segment-button>
    <ion-segment-button value="new">New Places</ion-segment-button>
  </ion-segment>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="8" offset-md="2">
        <ion-card>
          <ion-card-header class="ion-text-center">
            <ion-card-title>{{ places[0].title }}</ion-card-title>
            <ion-card-subtitle>{{ places[0].price | currency }} / hour</ion-card-subtitle>
          </ion-card-header>
          <ion-img [src]="places[0].imageUrl"></ion-img>
          <ion-card-content class="ion-padd">
            <p>{{ places[0].description }}</p>
            <div class="ion-text-right">
              <ion-button fill="clear" color="primary" [routerLink]="places[0].id">
                View More
              </ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-md="8" offset-md="2" class="ion-text-center">
        <ion-virtual-scroll [items]="places" approxItemHeight="70px">
          <ion-item detail [routerLink]="place?.id" *virtualItem="let place">
            <ion-thumbnail slot="start">
              <ion-img [src]="place?.imageUrl"></ion-img>
            </ion-thumbnail>
            <ion-label>
              <h2>{{ place?.title }}</h2>
              <p>{{ place?.description }}</p>
            </ion-label>
          </ion-item>
        </ion-virtual-scroll>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
