<ion-app>
  <ion-menu side="start" menuId="primaryMenu">
    <ion-header class="ion-no-border">
      <ion-toolbar class="toolbar-selected">
        <ion-buttons slot="start">
          <ion-back-button defaultHref="/places/tabs/discover" icon="chevron-back"></ion-back-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle menu="primaryMenu">
          <!-- <ion-item class="empty-item" lines="none" routerLink="/places/tabs/discover">
           </ion-item>  -->
          <ion-item  lines="none" routerLink="/places/tabs/discover">
            <div class='center-button item-image'>
            <ion-button  class="round selected-button">
              <ion-icon size="small" slot="icon-only" name="home"></ion-icon>
            </ion-button>
            </div>
           </ion-item> 
           <ion-item  lines="none" routerLink="/places/tabs/discover">
            <div class="label-div">
              <ion-label small class="menu-label">Home</ion-label>
            </div>
           </ion-item>  
        </ion-menu-toggle>
        <ion-menu-toggle menu="primaryMenu">
          <ion-item lines="none" routerLink="/places/tabs/discover">
            <div class='center-button item-image'>
              <ion-button  class="round">
                <ion-icon size="small" slot="icon-only" name="person"></ion-icon>
              </ion-button>
            </div>
          </ion-item>
          <ion-item  lines="none" routerLink="/places/tabs/discover">
            <div>
              <ion-label class="menu-label">Profile</ion-label>
            </div>
           </ion-item> 
        </ion-menu-toggle>
        <ion-menu-toggle menu="primaryMenu">
          <ion-item lines="none" routerLink="/places/tabs/discover">
            <div class='center-button item-image'>
              <ion-button  class="round">
                <ion-icon size="small" slot="icon-only" name="locate"></ion-icon>
              </ion-button>
            </div>
          </ion-item>
           <ion-item  lines="none" routerLink="/places/tabs/discover">
            <div>
              <ion-label class="menu-label ion-text-wrap ion-text-center">Request<br/> for space</ion-label>
            </div>
           </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle menu="primaryMenu">
        <ion-item lines="none" routerLink="/bookings">
          <div class='center-button item-image'>
            <ion-button  class="round">
              <ion-icon size="small" slot="icon-only" name="mail"></ion-icon>
            </ion-button>
          </div>
        </ion-item>
        <ion-item  lines="none" routerLink="/places/tabs/discover">
          <div>
            <ion-label class="menu-label">My request</ion-label>
          </div>
         </ion-item>
        </ion-menu-toggle>
         <ion-menu-toggle>
        <!-- <ion-item lines="none" (click)="onLogout()" button>
          <ion-icon size="small"  name="exit" slot="end"></ion-icon>
          <ion-label class="menu-label">Logout</ion-label>
        </ion-item> -->
        <ion-item lines="none">
            <ion-button  class="logout-button" (click)="onLogout()">
              <ion-label >Log out</ion-label>
            </ion-button>
        </ion-item>
        </ion-menu-toggle> 
        <!-- <ion-menu-toggle>
          <ion-item>
            <ion-icon slot="start" name="moon"></ion-icon>
            <ion-label>Dark mode</ion-label>
            <ion-toggle [(ngModel)]="dark" (ionChange)="updateDarkMode()"></ion-toggle>
          </ion-item>
        </ion-menu-toggle>-->
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>